body {
	background: #EDEDED;
	color: #333333;
}

/* Get the UI container to sit over the visualisation. */
#ui-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 18px; /* Size of enthraler footer */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Lay out the labels in the UI container */

#d3-container {
	flex: 1 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#d3-container svg {
	width: 100%;
	height: auto;
	overflow: visible;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

#title {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

#question-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex: 1 60px;
}

#question-label {
	font-size: 18px;
	margin: 0;
	text-align: center;
	flex: 1;
}

#next-btn, #previous-btn {
	width: 60px;
	text-align: center;
}

#next-btn .fa,
#previous-btn .fa {
	font-size: 28px;
	color: rgb(150, 150, 150);
}

#next-btn:hover .fa,
#previous-btn:hover .fa {
	color: rgb(100, 100, 100);
}

.sr-only {
	display: none;
}

#settings {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 10px;
	text-align: right;
}

#settings * {
	margin-bottom: 5px;
}

/* Styling for the group labels */

.group-label {
	fill: rgb(60, 60, 60);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	filter: drop-shadow(0px 0px 2px white)
}

/* Styling for the tooltip */
.hidden {
	display: none;
}

.d3-tip {
	margin-top: -5px;
	line-height: 1;
	font-weight: normal;
	font-size: 10px;
	padding: 4px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	pointer-events: none;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	pointer-events: none;
  }

  /* Northward tooltips */
  .d3-tip.n:after {
	content: "\25BC";
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
  }